{% extends 'base.html' %}

{% load static %}

{% block base %}

<div class="container mb-3 mt-4">
    <div mt-3>
        {% include 'include/alert.html'%}
      </div>
    <div class="row">
        {% include 'include/sidebar.html' %}
        <main class="col-md-9">
            <article class="card">
                <header class="card-header text-center">
                    <strong class="d-inline-block mr-3">Change Password</strong>
                </header>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card mb-3">
                                <div class="card-body p-1 text-center">
                                    <img src="https://www.w3schools.com/howto/img_avatar.png" alt="profile pic"
                                        width="50" height='50' style="border-radius: 50%;">
                                    <p class="mb-1">{{user.email}}</p>
                                    <p class="mb-0">{{user.phone_number}}</p>
                                </div>
                            </div>
                            <form action="{% url 'change_password' %}" method="post">
                                {% csrf_token %}
                                <div class="form-row">
                                    <div class="form-group col-md-3">
                                        <label>Current Password</label>
                                    </div>
                                    <div class="form-group col-md-9">
                                        <input type="password" name="currentpassword" placeholder="Current Password"
                                            class="form-control" required>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-md-3">
                                        <label>New Password</label>
                                    </div>
                                    <div class="form-group col-md-9">
                                        <input type="password" name="newpassword" placeholder="New Password"
                                            class="form-control" required>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-md-3">
                                        <label>Confirm Password</label>
                                    </div>
                                    <div class="form-group col-md-9">
                                        <input type="password" name="confirmpassword" placeholder="Confirm Password"
                                            class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-12 text-center">
                                    <input type="submit" value="Submit" class="btn btn-primary">
                                </div>
                            </form>
                        </div>
                    </div> <!-- row.// -->
                </div> <!-- card-body .// -->
            </article> <!-- order-group.// -->
        </main>
    </div> <!-- row.// -->
</div>

{% endblock %}